[submodule "Spring25/2025-ASIC-Design-Projects-Crypto_Ringmasters"]
	path = Spring25/2025-ASIC-Design-Projects-Crypto_Ringmasters
	url = https://github.com/hplp/2025-ASIC-Design-Projects-Crypto_Ringmasters
